:root {
    --dark-grey: #333;
    --mute-white: #ddd;
}
main {
    max-width: 60em;
}

.card,
.navbar {
    box-shadow: 0 0 1em 0 #111;
}

/* .carousel {
    max-width: 30em;
} */

/* #carouselExampleControls {
    margin: 1em;
    margin-right: 10em;
    margin-left: 10em;
    
} */