:root {
    --dark-grey: #333;
    --mute-white: #ddd;
}

/* html {
    background-color: var(--dark-grey);
    color: var(--mute-white);
} */

.main-project, .carousel-projects {
    max-width: 800px;
}