:root {
    --dark-grey: #333;
    --mute-white: #ddd;
}

html, body {
    background-color: var(--dark-grey);
    /* background-color: rgb(51, 101, 152); */
}

.main-project {
    max-width: 20rem;
    border-radius: 1em;
    box-shadow: 0 1em 1em #111;
}

main {
    /* max-width: 800px; */
    background: url('/assets/aquah_blue.jpg') no-repeat;
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;
    height: 150vh;
}
.card {
 max-width: 800px;
}

.card {
    box-shadow: 0 0 1em 0 ;
    background: inherit;
    /* margin: 100px; */
    backdrop-filter: blur(5px);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.glass-card {
    backdrop-filter: blur(0px);
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
}

.carousel-projects {
    max-width: 800px;
}

.glass:before {
    content: '';
    /* position: absolute;
    align-self: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */

    width: 30rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(5px);

    /* background-color: rgba(128, 128, 128, 0);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px); */
}
/* .container:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
} */

/* container:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
} */



.glass-card {
    background-image: url("/assets/aquah_blue.jpg");
    z-index: -1;
    position: absolute;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
